
<!DOCTYPE html>
<html>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <body>
        <h1>Annotation Tool</h1>
        
        <p> Frame number=  {{ Number }}/ {{Totalframes}} </p>
        
        <p align="left"><a href=prev_click ><button class=grey style="height:75px;width:150px">previous frame</button></a>
            <a href=next_click >
                <button class=grey style="height:75px;width:150px">next frame</button>
            </a>
        </p> 
         
        <p>
            
            <tr>
                <td>
                
                    <fieldset id="toolset">
                        <button id="penciltool" type="button" style="height: 25px; width: 100px;" onclick="pencil()">Pencil</button>
                        <button id="erasertool" type="button" style="height: 25px; width: 100px;" onclick="erasertool()">Eraser</button> 
                    </fieldset>
                
                </td>
            
                <td>
            
                <canvas id="canvas"></canvas>
                    <div>
                
                        <img src="{{ url_for('frame') }}">
                    </div>
            
                </td>
            </tr>
        </p>
     <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
     <script src=" {{ url_for('static', filename='script.js') }}"></script>
    </body>


</html>