
<!DOCTYPE html>
<html>

<title>Incorectly filled form</title>
<h1>Please fill out all of the Form</h1>

<form method=post enctype=multipart/form-data>

  <p> Provide the Pation ID </p>
  <label for="p_id">Pation ID:</label><br>
  <input type="text" id="p_id" name="p_id"><br>
  
  <label for="zz">Index:</label><br>
  <input type="text" id="index" name="index"><br>
  
  <label for="angle">Anlge:</label><br>
  <input type="text" id="angle" name="anlge"><br>
  
  <label for="vid_file">Video file:</label><br>
  <input type=file name=vid_file><br>
  
  <input type=submit value=Upload>
</form>


</html>